.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: #F0FBF4;
}

.progress-bar-wrapper,
.quote-area-wrapper,
.nav-bar-wrapper {
  width: 100%;
  text-align: center;
}

.quote-area-wrapper {
  display: flex; /* Nested flex container to center its content */
  align-items: center; /* Vertically centers content within itself */
  justify-content: center; /* Horizontally centers content within itself */
  width: 100%;
  text-align: center;
  margin-top: 200px;
  z-index: 1;
}

.progress-bar-wrapper {
  margin-top: 20px; /* Adjusts space from the top */
}

.nav-bar-wrapper {
  margin-bottom: 80px; /* Adjusts space from the bottom */
  z-index: 2;
}

/* Responsive design adjustments */
@media (max-width: 400px) {
  .App {
    height: 80vh;

  }
}