.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: #f0fbf4; /* Fallback background in case the video doesn't load */
  position: relative; /* To contain the absolutely positioned video */
  overflow: hidden; /* Ensures the video doesn't spill outside the container */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the entire container */
  z-index: -1; /* Places the video behind the other content */
}

.progress-bar-wrapper,
.quote-area-wrapper,
.nav-bar-wrapper {
  width: 100%;
  text-align: center;
  z-index: 1; /* Ensures content is above the video */
}

.nav-bar-wrapper {
  height: 71px; /* Fixed height for nav-bar */
  width: 100%; /* Full width */
}

.border-wrapper {
  height: 100vh;
  z-index: 1; /* Ensure this wrapper is above the video */
}

.quote-area-wrapper {
  display: flex; /* Nested flex container to center its content */
  align-items: center; /* Vertically centers content within itself */
  justify-content: center; /* Horizontally centers content within itself */
  width: 100%;
  text-align: center;
  z-index: 1; /* Ensures the text is above the video */
}

.progress-bar-wrapper {
  margin-top: 20px; /* Adjusts space from the top */
  z-index: 1; /* Ensures the progress bar is above the video */
}

@media (max-width: 768px) {
  .border-wrapper {
    height: 80vh; /* Dynamically adjust for mobile browsers */
  }
}
