.quote-area-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Quote-area {
    background-color: white;
    border-radius: 20px;
    max-width: 400px;
    min-width: 350px;
    text-align: center;
    position: relative;
    border: 2px solid #d8b9ff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cross-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #ff5722;
    background: none;
    border: none;
  }
  
  .cross-icon img {
    width: 1rem; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it does not exceed the button's width */
  }
  
  .Quote {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 280px;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    height: 4.5em; /* 3 lines of text with 1.5em line height */
    line-height: 1.5em; /* Maintain line spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Hide overflowing content */
  }
  
  .Legend-quote {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
  }

  .affirmation-generator{
    margin-top: 30px;
    margin-bottom: 30px;
  }


/* Progress button */
.yes-icon {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background: #47C9AF; /* Vibrant teal */
  color: #2C3E50; /* Dark slate gray for better readability */
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.yes-icon:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#read-visualize-text {
  position: relative;
  z-index: 2;
}

/* Progress bar inside button */
.read-visualize-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #39B68D, #A7F4D4); /* Gradient greens */
  z-index: 1;
  transition: width 0.5s ease;
  border-radius: 30px;
}