.settings-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-wrapper {
  width: 100%;
  text-align: center;
}

.settings-container {
  margin-top: 20px;
}

/* Settings section titles */
.settings-section-title {
  font-size: 14px;
  font-weight: bold;
  color: #6d6d72;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 0 8px; /* Add spacing below title */
  padding: 8px 0;
  text-align: left;
}

/* Settings section */
.settings-section {
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding: 12px 16px; /* Better spacing for touch devices */
  max-width: 350px;
  min-width: 350px;
}

/* Individual settings item */
.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #e0e0e0;
}

.settings-item:last-child {
  border-bottom: none;
}

/* Label and value styling */
.settings-label {
  font-size: 16px;
  color: #333333;
}

.settings-value {
  font-size: 16px;
  color: #a6a5ab;
  text-align: right;
}

/* Toggle switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #673ab7;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Dropdown styling */
.dropdown-style {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  color: #333333;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-style:hover {
  border-color: #673ab7;
}

.dropdown-style:focus {
  box-shadow: 0 0 5px rgba(103, 58, 183, 0.5);
  border-color: #673ab7;
}

/* Input styling for number field */
input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  color: #673ab7;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

input[type="number"]:focus {
  border-color: #673ab7;
  box-shadow: 0 0 5px rgba(103, 58, 183, 0.5);
}

/* Responsive design adjustments */
@media (max-width: 400px) {
  .container {
    width: 100%; /* Ensure full width on small screens */
    max-width: none; /* Remove max-width constraint */
    padding: 12px; /* Reduce padding */
  }

  .settings-item {
    padding: 6px 0;
  }

  .dropdown-style {
    padding: 6px;
  }

  input[type="number"] {
    width: 50px;
  }
}
